@model CreateVideoDto
@{
    ViewData["Title"] = "CreateVideo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Video Url</label>
    <input type="text" asp-for="VideoUrl" class="form-control" />
    <button class="btn btn-outline-danger">Kaydet</button>
</form>

