@model CreateDealDto
@{
    ViewData["Title"] = "CreateDeal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <label>İlan Türü</label>
    <input type="text" asp-for="Type" class="form-control" />
    <br />
    <label>ResimUrl</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>MetreKare</label>
    <input type="text" asp-for="Square" class="form-control" />
    <br />
    <label>Kaçıncı Kat</label>
    <input type="text" asp-for="Floor" class="form-control" />
    <br />
    <label>Oda Sayısı</label>
    <input type="text" asp-for="RoomCount" class="form-control" />
    <br />
    <label>Ödeme Türü</label>
    <input type="text" asp-for="PaymentType" class="form-control" />
    <br />
    <label>Park Alanı var</label>
    <select asp-for="HasParkingAreA" class="form-control">
        <option>Seçiminizi Yapın</option>
        <option value="true">Var</option>
        <option value="false">Yok</option>
    </select>
    <button class="btn btn-outline-danger">Kaydet</button>
</form>

